<div class="container-fluid">
  <div class="row">
    <div class="col">
      <img src="../../../assets/portraitIncio.png" alt="" width="900vh" >
    </div>
    <div class="col " id="contenido">
      <h1>Valorant Agents</h1>

      <div class="container-fluid">

        <div class="row">

          <div class="col">
            <p>
              Aqui encontraras toda la informacion necesaria de todos los agentes del aclamado juego de Riot Games llamado, VALORANT.
            </p>
          </div>
          <div class="col">
            <p>
              Haz click en el boton de abajo para mirar la lista de los agentes disponibles dentro del juego en estos momentos.
            </p>
          </div>
        </div>
      </div>
      <div class="container-fluid">

          <a href="/agentes">
            <button type="button" class="btn btn-primary btn-lg btn-block col">
            Lista de agentes
            </button>
          </a>
        <a href="/info" id="margin">
          <button type="button" class="btn btn-primary btn-lg btn-block col">
            Informacion del autor
          </button>
        </a>


      </div>



    </div>
</div>




