<div id="contenedor">

  <div class="card mt-5 mb-1 mx-5 align-items-center" style="max-width: 100%;">
    <div class="row g-0 h-100">
      <div class="col-md-4">
        <img [src]="agente.fullPortraitV2" class="img-fluid " alt="...">
      </div>
      <div class="col-md-8 pt-4 px-5" id="bg">
        <div class="card-body pr-5">
          <h5 class="card-title">{{ agente.displayName}}</h5>
          <p class="card-text">{{ agente.description }}.</p>
          <p class="card-text">Developer Name: {{agente.developerName}}</p>

        </div>

        <div class="container-fluid">

          <div class="row">

            <div class="col">



            </div>
            </div>
            <div class="col">

            </div>
            <div class="col">

            </div>
            <div class="col">

            </div>
          </div>

        </div>

      </div>
    </div>
  </div>




