<div class="container">

  <div>
    <h5 id="nombre" class="pt-5 pb-5">
      Guillermo Boscá
    </h5>
  </div>

  <div class="row al align-content-between">
    <div class="col">
      <div class="card px-1" style="width:90%;">
        <div class="card-body">
          <h5 class="card-title">Hobbies</h5>

          <p class="card-text">Arte</p>
          <p class="card-text">Leer</p>
          <p class="card-text">League of Legends</p>

        </div>
      </div>
    </div>
    <div class="col">
      <div class="card px-1" style="width:90%;">
        <div class="card-body">
          <h5 class="card-title">Habilidades</h5>

          <p class="card-text">Dibujo Digital</p>
          <p class="card-text">Angular</p>
          <p class="card-text">Java</p>

        </div>
      </div>
    </div>
    <div class="col">
      <div class="card px-1" style="width:90%;">
        <div class="card-body">
          <h5 class="card-title">Datos</h5>

          <p class="card-text">02-10-2002</p>
          <p class="card-text">Valencia, España</p>
          <p class="card-text">~</p>


        </div>
      </div>
    </div>
  </div>
</div>
