<nav class="navbar navbar-expand  ">
  <img src="../../../assets/iconValorant.png" alt="" width="30" height="24" class="d-inline-block align-text-top mx-3">
  <div class="container-fluid px-1">

    <a class="navbar-brand" id="titulo" href="">Valorant Agents</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="agentes">Agentes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="info">Autor</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

